<!DOCTYPE html>
<html>
	<head>
		<title>Classifieds</title>
		<%= render 'shared/style' %>
		<%= csrf_meta_tags %>
	</head>
	<body id="preview" style="padding:0; margin:0">
		<%= render 'shared/menu' %>
		<% if notice %>
		<p class="notice"><%= notice %></p>
		<% end %>
		<% if alert %>
		<p class="alert"><%= alert %></p>
		<% end %>
		<%= yield %>
		<%= javascript_include_tag "application" %>
	</body>
</html>
